<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Getting Started: Handling Form Submission</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Hangman</h1>
        <form action="#" th:action="@{/user/game/update}" th:object="${game}" method="post">
            <p>Word: <label th:each="char : ${game.displayedWord}"  type="text" th:text="${char}" ></label></p>
            <p>Attempts Left: <label type="text" th:text="${game.attemptsLeft}" ></label></p>

            <p th:text="'Hi ' + ${game.user.username} + ' please enter a character'"></p>
            <input size="1" maxlength="1" type="text" name="character" />

            <input type="hidden" th:field="*{displayedWord}" />
            <input type="hidden" th:field="*{attemptsLeft}" />
            <input type="hidden" th:field="*{word}" />
            <input type="hidden" th:field="*{user}" />
            <input type="hidden" th:field="*{gameState}" />
            <input type="hidden" th:field="*{id}" />

            <p><input type="submit" value="Submit" /></p>
        </form>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>