<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>Error</h1>
    <a th:href="@{/login}" th:text="login">text</a>
</body>
</html>