<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>List</h1>
<table>
    <tr>
        <th>Username</th>
        <th>Word</th>
        <th>UnsolvedWord</th>
        <th>AttemptsLeft</th>
        <th>State</th>
    </tr>
    <tr th:each="game : ${games}">
        <td th:text="${game.user.username}"></td>
        <td><label th:each="char : ${game.word}"  type="text" th:text="${char}" ></label></td>
        <td><label th:each="char : ${game.displayedWord}"  type="text" th:text="${char}" ></label></td>
        <td th:text="${game.attemptsLeft}"></td>
        <td th:text="${game.gameState}"></td>
    </tr>
</table>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>